<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic Tac Toe </title>
  <style>
    body, html {
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #f2f2f2;
    }

    .container {
      /* background-color: red; */
      position: relative;
      width: 300px;
      height: 300px;
    }

    .box-container {
      position: absolute;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: fade-in 3s forwards;
    }

    .box {
      width: 80px;
      height: 80px;
      background-color: #ffcc00;
      opacity: 0;
      animation: slide-in 3s forwards;
      text-align: center;
      padding: auto;
      font-size: 45px;
      color: azure;
    }

    @keyframes fade-in {
      to {
        opacity: 1;
      }
    }

    @keyframes slide-in {
      0% {
        transform: translateY(-100px) rotate(360deg);
        opacity: 0;
      }
      100% {
        transform: translateY(0) rotate(0);
        opacity: 1;
      }
    }
    .buttonNext{
      font-size: 25px;
      color: rgb(12, 85, 12);
      background-color: rgb(35, 201, 124);
      padding: 10px;
      border-radius: 25px;
      opacity: 0;
      margin-top: 10px;
      box-shadow: green 2px 2px 2px;
      animation: fade-in 5s forwards;
    }
    .buttonNext:hover{
      cursor: pointer;
      transform: scale(1.05);
      transition-duration: .5s;
      box-shadow: green 5px 5px 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="box-container">
      <div class="box">T</div>
      <div class="box">I</div>
      <div class="box">C</div>
      <div class="box">T</div>
      <div class="box">A</div>
      <div class="box">C</div>
      <div class="box">T</div>
      <div class="box">O</div>
      <div class="box">E</div>
    </div>
    
  </div>
  <div class="buttonNext" onclick="">
    Connect And Play
  </div>
</body>
</html>
